backoff==2.2.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
coinbase-advanced-py==1.8.2
cryptography==45.0.4
dotenv==0.9.9
idna==3.10
joblib==1.5.1
numpy==2.3.0
pycparser==2.22
PyJWT==2.10.1
python-dotenv==1.1.0
requests==2.32.4
scikit-learn==1.7.0
scipy==1.15.3
threadpoolctl==3.6.0
urllib3==2.4.0
websockets==13.1
